* {
  box-sizing: border-box;
}

body {
  font-family: 'Baloo', sans-serif;
}

.game {
  display: block;
  margin: auto;
}

.square {
  border: 5px solid black;  
}

.square {
  width: 33.3333%;
  color: white;
  font-size: 750%;
  display: inline-block;
  text-align: center;
}

.instructions {
  font-family: 'PT Sans Narrow', sans-serif;
  display: block;
  text-align: center;
}

.backdrop {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  margin-top: 20px;
}

.x, footer {
  color: red;
}

.o {
  color: blue;
}

.invisible {
  display: none;
}

h1 {
  text-align: center;
  font-size: 70px;
  margin-top: 10px;
  margin-bottom: 0px;
}

h2, footer {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 25px;
  font-weight: normal;
  text-align: center;
  padding: 0px 20px 20px 20px;
  margin: 0px;
}

button {
  font-family: 'PT Sans Narrow', sans-serif;
  text-align: center;
  margin-bottom: 10px;
  font-size: 18px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}